
main.backgroundFrame{
  display: flex;
  background-color: #0B2434;
  width: 70vh;
  height: 70vh;
  min-width: 400px;
  min-height: 400px;
  padding: 15px;
  margin: 70px auto;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.backgroundInnerFrame{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: auto;
  align-items: center;
  background-color: #F5F5F5;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  border-radius: 10px;
}

.diceFrame{
  width: 80%;
  height: 30%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}

.randomiseButton{
  width: 25%;
  height: 10%;
  background-color: #5035FF;
  border: none;
  border-radius: 4px;
  font-size: 1.7rem;
  color: white; 
  cursor: pointer; 
  overflow: hidden;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

.randomiseButton:active{
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.tenziesTitle{
  margin: 0px 0px -40px 0px;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 2.6rem;
  color: #2B283A;
}

.tenziesDescription{
  width: 70%;
  height: 10%;
  margin-top: -10px;
  height: auto;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  color: #4A4E74;
}

.winText{
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: -250px;
  color: #4A4E74;
}